#!/bin/sh

#commands
alias ll="ls -lah"
alias sn="exit"
alias vpi="vim +PluginInstall +qall"
alias pi="pkg install"

#files
alias aliases="vim ~/.aliases"
alias zshrc="vim ~/.zshrc"
alias vimrc="vim ~/.vimrc"

#github
alias ga="git add"
alias gaa="git add ."
alias gc="git commit -m"
alias gac="git add . && git commit -m"
alias gpom="git push -u origin master"

#navigation
alias sd="cd ~/storage/external-1"

#pass
alias pc="pass -c"
alias pce="pc email/pawel.lisewski@protonmail.com"
alias pcg="pc github/dhammafarer"
alias pcsh="pc store/shopee"
